page-user {

}

span {
    display: block;
}

button {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
}

span {
    font-size: 1em;
}

.deleteButton {
    width: 100%;
    text-align: right;
}
