page-bus-routes {

}
h4{
    // display: inline;
}
.icon{
    float: right;
    
}
.scroller{
    height: 275px;
    width: 100%;
    margin: 0 auto;
    margin-left: -60px;
    position: absolute;
    text-align: left;
    font-size: 18px;

}
.routes-padding{
    height: 225px;
}
ion-card{
    height: 200px;
}

ion-icon{
    font-size: 36px;
}
.custom-icon{
    font-size: 36px;
}

