page-bus-routes {

}
h4{
    // display: inline;
}
.icon{
    float: right
}
.scroller{
    height: 275px;
    width: 100%;
    margin: 0 auto;
    margin-left: -60px;
    position: absolute;
    text-align: left;

}
.routes-padding{
    height: 225px;
}
ion-card{
    height: 200px;
}
