page-home {
   
    ion-content{
        background: color($colors, light) !important
    }
}

.main{
    color: color($colors, primary);
    font-size: 44px;
    text-align: center;

}
.bodytext{
    color: color($colors, primary);
    font-size: 24px;
    text-align: center;
}

.button{
    font-size: 24px;
    text-align: center;
    justify-content: center;
}
.buttonholder{
    padding-top: 10vh;
    justify-content: center;
    text-align: center;

}

