page-eta {

}
.routes-card {
    
    ion-card {
    position: relative;
    text-align: center;
    height: 18vh;
    }

    .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    }

    .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    }
    
}
.buttons{
    display: column;
    align-items: center;
    justify-content: center;
}